table {
font-weight:bold;
font-family:Arial;
font-size:14;
}




a {
font-weight:bold;
font-family:Arial;
font-size:14;
text-decoration:none;

}

.erroValida {
background-color:#FFCCCC;
}
.confirmValida {
background-color:#00ff66;
}
.brancoValida {
background-color:#ffffff;
}


#principal #cabecalho #relat a{
color:black;
font-size:11;

}

a:hover {


color:#8B0000;

}

.nav {
font-size:9;
color:#00008B;
}

a .nav:hover {
font-size:9;
color:#8B0000;
}

a:visited {


color:#00008B;

}

body {
background-color:#eS00;

}
#salvo {
color:#8B0000;
}

#cltPassado table {

font-size:10;

}

#cltPassado {
margin-left:8px;
font-size:10;

}
#rodape li{
font-size:10;
font-family:Arial;
font-weight:bold;
}

#cltAtual {
margin-left:8px;
}


#rodape {

 position:absolute;
 font-type:bload
 font-family:Arial;
 font-size:10;

 width:99.9%;

 bottom: 0;

 border-color:red;		
 border-style:dashed;
 border-width:1;

}

#rodape a{

margin:1;
font-size:10;


}

#cabecalho b {
font-family:Arial;
font-size:10;
}

#menulinks a{
color:#333;
}

#menulinks a:hover{
color:red;
}

#menulinks a:visited{
color:blue;
}

#menulinks a:active{
color:red;
}



#mais {

	
	color:#FFFFFF;
	background-color:red;
	
	
	
}

#mais a{

	font-size:12;
	color:#FFFFFF;
	background-color:red;
	
	
	
}

#mais a:hover{

	font-size:12;
	color:#87CEFA;
	background-color:red;
	
}


body {
margin:0;
}

#principal {
	padding-left:5;
}

#cadastro {
	padding-top:10;
	padding-left:7;
	color:#FFF;
	background-color:#505050;
		
}

#cadastro table{

	color:#FFF;

}

#cadastro a{
	color:#FFF;
}
#cadastro a:hover{
	color:#FF0000;
}
#cadastro a:visited{
	color:#FFF;
}

#cadastro span {

margin-top:2;
 font-family:Arial;
 font-size:8.5;

}

#diagUf {
color:red;
font-size:12;

}

#tab #ps {
margin-left:2;
color:red;

}



ul li{

}

li{

}